# Объектные файлы
*.o
*.ko
*.obj
*.elf

# Библиотеки
*.a
*.so
*.so.*
*.dylib

# Исполняемые файлы
*.exe
*.out
*.app

# Файлы сборки
/build/
/deb-packages/

# Файлы редактора/IDE
.vscode/
*.swp
*.swo
*~
